# Rider files
/.idea/

# Build files
Chat.Server/bin/
Chat.Server/obj/
Chat.Client/bin/
Chat.Client/obj/
Chat.Client.Desktop/bin/
Chat.Client.Desktop/obj/


# Solution files
Chat.sln.DotSettings.user
Chat.Server/ChatServer.csproj.user