# Rider files
/.idea/

# Build files
ChatServer/bin/
ChatServer/obj/
ConsoleChatClient/bin/
ConsoleChatClient/obj/

# Solution files
Chat.sln.DotSettings.user
ChatServer/ChatServer.csproj.user
ConsoleChatClient/ConsoleChatClient.csproj